/* RESET */

/* AWARDS HERO */
.awards-hero {
    min-height: 100vh;
    background-image:
        linear-gradient(
            rgba(0,0,0,0.6),
            rgba(0,0,0,0.6)
        ),
        url("images/purple.gif");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    text-align: center;
    padding: 40px;
    color: white;
}

/* PAGE TITLE */
.awards-hero h1 {
    font-size: 48px;
    background: rgba(0,0,0,0.85);
    display: inline-block;
    padding: 15px 25px;
    border-radius: 8px;
    margin-bottom: 30px;
}

/* AWARDS GRID */
.awards {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 40px;
    justify-items: center;
}

/* AWARD CARD */
.award-card {
    text-align: center;
}

/* AWARD IMAGE */
.award-card img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
}

/* AWARD NAME */
.award-card p {
    margin-top: 12px;
    font-size: 16px;
    font-weight: bold;
}
